@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navigation {
    background-color:darkslategray;
   /* border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;*/
    font-size: xx-large;
    text-align: right;
    transition: all 0.2s ease;

}

  a{
    color: cornsilk;
    text-decoration: none;
    padding: 0.2rem 0.3rem;


}

a:hover{
 color:lightblue;
 transition:scale(1.1);
    
}
a:active{
    color:lightgrey;
}


header.container{
    position: relative;
    font-size: xx-large;
    color:blanchedalmond;
    background-size:cover;

}
.centered{
    position:absolute;
    text-align:center;
    top:50%;
    left:40%;
}
body{
    text-align: center;
    background-color: lightblue;
}
p{
    font-size: xx-large;
    font-weight: 200;
}
button{
    border-radius: 2rem;
    font-size: 20px;
    background-color:darkslategray;
    color: black;
    border: 0.1rem solid grey;
    padding: 0.2rem 0.2rem;
    margin-left: 1.2rem;
}
/*.footer a {
    padding: 1rem 2rem;
}*/
 .project :hover{
    background-color:cornflowerblue;
    border-radius: 40%;
    color: black;
}
footer{
    position: fixed;
    bottom: 0;
   height:40px;
    width: 100%;
    background-color:darkslategray;
    font-size: xx-large;
    
}
